# Copy this file to ".env" inside v1_local/.
# Never commit the real ".env" file.

#-----------Credentials for dbt to connect with postgres container

TRAFFIC_DB_HOST=localhost
TRAFFIC_DB_PORT=5432
TRAFFIC_DB_NAME=traffic_dwh
TRAFFIC_DB_USER=traffic_user
TRAFFIC_DB_PASSWORD=<same local password>